.App {
	text-align: center;
	background-color: #48A0EB;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: white;
	padding-bottom: 2em;
}

.App-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-title { 
	margin: 0 auto;
	padding-top: 1em;
}

.App-heading {
	text-align: left;
	width: 30%;
	margin: 1em auto 0;
	min-width: 300px;
}

.App-link:hover {
  color: #61dafb;
}

.App-twitter-embed { 
	margin: 0 auto;
	width: 100%;
}

.App-para-container {
	margin: auto;
	text-align: left;
	width: 50%;
	max-width: 550px;
	min-width: 350px;
}

.App-para-container > p { 
	font-size: 14pt;
	margin: 0 auto 1em;
}

.App-para-container > div {
	display: flex;
	justify-content: space-evenly;
}

.App-visuals {
	width: 50%;
	max-width: 550px;
	min-width: 350px;
	margin: 0.5em auto 1em;
}

a {
	text-decoration: none;
	color: white;
}

iframe[title="Twitter Tweet"] {
	width: 50vw !important;
	max-width: 550px !important;
	min-width: 350px !important;
}